assignment1/1/images
assignment1/2/images
assignment1/3/images
assignment1/1/report
assignment1/2/report
assignment1/3/report
assignment2/1/images
assignment2/2/images
assignment2/3/images
assignment2/1/report
assignment2/2/report
assignment2/3/report
assignment3/1/images
assignment3/2/images
assignment3/1/report
assignment3/2/report